@import "https://pro.fontawesome.com/releases/v5.10.0/css/all.css";

.profile-photo{
    position: relative;
    top: -12px;
}

.notify-dropdown{
    min-width: 200px;
    padding:10px 5px;
    margin:0 25px;
    width:300px;
    left: -5rem!important;
}

.notify-dropdown li{
    background:#f9f9f9;
    cursor:context-menu;
    padding:5px;

}

.dnotify-dropdown{
}

.notify-dropdown li:hover{
    background:rgb(233, 233, 233);
}

.photo{
    width: 50px;
    background: white;
    border-radius: 35px;
    /* box-shadow: 1px 2px 4px #c396a8; */
    padding: 3px;
}

.toggle-sidebar {
    z-index: 111111111111111111;
    position: fixed;
    top: 10px;
    left: 20px;
    color: black;
    font-size: 20px;
    background: #f0f8ffd9;
    padding: 5px 12px;
    border-radius: 6px;
}

.sidebar{
    background:#ffffff94!important;
    top:0;
    position:fixed;
    min-height: 100%;
    z-index:1;
}

.sidebar li a:hover{
    background-color: #a9fd0d;
}

.container {
    background-color: #f9f9f991;
    width: 100%;
    min-height: 800px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #b1acac;
    margin-top:35px;
    padding:35px 25px;
}

nav {
    padding: 4px 0!important;
    background: #ffffff80;
    padding: 15px 30px !important;
    border-radius: 9px;
    box-shadow: 0px 3px 3px #00000005;
    margin-bottom: 40px;
}

nav li{
    text-transform: capitalize;
    margin-right: 0!important;
}

nav a{
    font-size:20px;
    color:#3a3a3a!important;
}
