@import "https://pro.fontawesome.com/releases/v5.10.0/css/all.css";

a {
    color: var(--bs-blue);
    text-decoration: underline;
    text-decoration: none;
}

.profile-photo{
    position: relative;
    top: -12px;
}

.notify-dropdown{
    min-width: 200px;
    padding:10px 5px;
    margin:0 25px;
    width:300px;
    left: -5rem!important;
}

.notify-dropdown li{
    user-select: none;
    background:#f9f9f9;
    cursor:pointer;
    padding:5px 12px;
    transition:background 0.3s;
    border-bottom:1px solid #ccc;
}

.notify-dropdown li:last-child{
    border:none;
}

.dropdown-menu{
    padding: 0 !important;
}

.profile-photo.setting {
    height: 150px;
    background: white;
    border-radius: 50%;
    padding: 8px;
}

.group-card {
    width: 25rem;
}

.pagination{
    margin-top:24px;
}

.pagination div:first-child{
    display:none;
}

.pagination svg{
    height: 10px;
}

discuss {
    padding: 4px 12px;
    max-height: 200px;
    overflow-x: auto;
    display: block;
    border-bottom: 1px dotted #dadada;
    margin: 5px 4px;
}

.user-list{
    background: #ffffffa8;
    border-radius: 12px;
    padding: 6px 7px;
    min-height: 36px;
    font-size: 14px;
    margin-bottom:3px;
    display: inline-block;
    color:#3a3a3a;
}

.user-ls{
    background: #ffffffa8;
    border-radius: 12px;
    padding: 4px 7px;
    min-height: 36px;
    font-size: 14px;
    margin-bottom:3px;
    display: inline-block;
    color:#3a3a3a;
    margin-right:8px;
    margin-top:3px;
}

.footer a{
    font-weight: bold;
    color:black;
}

.user-ls img{
    height:25px;
    width:25px;
}

.photo {
    height: 44px;
    border: 2px solid #9db1b7;
    border-radius: 35px;
    padding: 3px;
    margin-bottom: -12px;
    position: relative;
    top: -9px;
    max-width: 44px;
}

.photo-default{
    border-radius:50%;
}

.toggle-sidebar {
    z-index: 111111111111111111;
    position: fixed;
    top: 10px;
    left: 20px;
    color: black;
    font-size: 20px;
    background: #f0f8ffd9;
    padding: 5px 12px;
    border-radius: 6px;
}

.card-img-top.group{
    height: 214px!important;
    width: 370px!important;
}

.btn-group-sm>.btn, .btn-sm{
    padding: 0 10px!important;
}

.post, .aside{
    vertical-align: top;
    display:inline-block;
}

.post{
    width:60%;
    margin-right:35px;
}

.aside{
    float:right;
    width:30%;
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

table.group-list{
    padding:15px 25px!important;
}
section .nav-tabs{
    padding:5px 25px!important;
}

section .nav-tabs {
    border-bottom: 1px solid transparent;
    background: rgba(255, 255, 255, 0.801);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

td{padding:5px!important;}

td img{
    padding:15px!important;
}

section .nav-tabs a{
    color:black;
}

section .nav-tabs a:hover{
    color:rgb(55, 92, 172);
    border-bottom:1px solid #aaa;
}

table.group-list{
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 15px;
    border-bottom: 1px solid #ccc;
}

table.group-list tr:last-child{
    border-bottom:none;
}

.content-section .card{
    margin-right: 80px;
}

.card-group{
    width:100%;
}

.content-section .card:last-child{
    margin-right: 0;
}

.content-section .card img{
    height: 140px;
    padding:5px 10px;
}

.sidebar{
    background:#ffffff94!important;
    top:0;
    position:fixed;
    min-height: 100%;
    z-index:1;
}

.sidebar ul{
    padding-top:25px;
}

.sidebar li a:hover{
    background-color: #a9fd0d;
}

.aside h4{
    margin-top:15px;
    text-align: left;
}
.aside{
    text-align:center;
}

.container {
    background-color: #f9f9f991;
    width: 100%;
    word-wrap: break-word;
    min-height: 700px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #b1acac;
    margin-top:35px;
    padding:35px 25px;
}

nav {
    padding: 4px 0!important;
    background: #ffffff80;
    padding: 15px 30px !important;
    border-radius: 9px;
    box-shadow: 0px 3px 3px #00000005;
    margin-bottom: 40px;
}

nav li{
    text-transform: capitalize;
    margin-right: 0!important;
}

nav a{
    font-size:20px;
    color:#3a3a3a!important;
}
